<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мишковичі Бухгалтерія{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-body text-dark">
{% comment %}
    <header class="bg-gradient-to-r from-primary to-secondary text-light shadow-lg">

    </header>
{% endcomment %}

    <div class="min-h-screen flex flex-col">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

{% comment %}    <footer class="bg-gradient-to-r from-gray-800 to-gray-900 text-white py-8 mt-auto">

    </footer>{% endcomment %}

    {% block extra_js %}{% endblock %}
</body>
</html>
